.aboutUs {
  background: var(--section-dark-color);
  padding: 100px 0;
}

.aboutUs h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 70px;
  font-weight: bolder;
  margin-bottom: 25px;
}

.aboutUs p {
  font-size: 28px;
}

/* tablet L  */
@media (max-width: 1199px) {
}

/* tablet S  */
@media (max-width: 991px) {
}

/* mobile  */
@media (max-width: 767px) {
  .aboutUs h1 {
    font-size: 40px;
  }
  .aboutUs p {
    font-size: 16px;
    margin: 0 20px;
  }
}
